<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <form action="/inde">
            <label for="">NOM</label>
            <input type="text" name="" id=""><br>
            <label for="">Email</label>
            <input type="email" name="" id=""><br>
            <input type="submit" name="" id="" value="Valider">
        </form>
    </div>
    4
</body>
</html>